<h1> Here is a list of restaurants </h1>

<% @restaurants.each do |restaurant| %>
<p><%= link_to "#{restaurant.name} | #{restaurant.category} | #{restaurant.address}", restaurant_path(restaurant) %><p>
<% end %>
